@import "sanitize.css";

:root {
  --link-color: oklch(71.5% 0.143 215.221);
  --note-color: oklch(66.7% 0.295 322.15);
  --selection-color: oklch(90.5% 0.182 98.111);
  --hr-color: oklch(92.8% 0.006 264.531);
  /* --text-background-color: rgb(255 255 255 / 0.9); */
  /* CMYK */
  --cyan: rgb(0 255 255);
  --magenta: rgb(255 0 255);
  --yellow: rgb(255 255 0);
  --black: rgb(0 0 0);

  /* --font-sans: var(--font-nebula-sans), */
  --font-sans: var(--font-geist),
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* --font-sans: var(--font-nebula-sans), */
  --font-headings: var(--font-caveat), var(--font-geist),
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: "SF Mono",
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

html {
  font-size: 16px;
}

::selection {
  background-color: var(--yellow);
}

body {
  font-family: var(--font-sans);
  /* font-feature-settings: "ss01", "ss02", "ss03"; */
  font-feature-settings: "ss02", "ss04", "tnum";
  color: black;
}

code {
  font-family: var(--font-mono);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:visited {
    color: var(--link-color);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
  }
}


/* Heading styles from Tufte CSS: https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css */
h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  /* font-style: italic; */
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  /* font-style: italic; */
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  width: 100%;
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--hr-color);
  margin: 1em 0;
  padding: 0;
}

/* Skip link */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (max-width: 760px) {
  label {
    cursor: pointer;
  }
}