@import "sanitize.css";

:root {
  /* Base colors */
  --color-cyan: oklch(78.9% 0.154 211.53);
  --color-magenta: oklch(74% 0.238 322.16);
  --color-yellow: oklch(85.2% 0.199 91.936);
  --color-black: rgb(0 0 0);
  /* Other colors */
  --color-hr: oklch(from var(--color-cyan) calc(l - 0.10) c h);
  --color-link: var(--color-black);
  --color-date-background: var(--color-black);
  --color-card-background: oklch(from var(--color-cyan) calc(l - 0.025) c h);
  --color-blockquote-border: oklch(86.5% 0.127 207.078);
  --color-non-pre-code: oklch(from var(--color-cyan) calc(l - 0.025) c h);
  /*  */
  --link-thickness: 2px;

  /* Fonts */
  --font-sans: var(--font-inter-variable),
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-mono: var(--font-jetbrains-mono-regular),
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  --font-features-inter: "ss02", "ss03", "cv10";
  --font-features-mono: "zero", "cv11", "cv12", "calt" 0, "liga" 0;

  /* Variable font size clamp calculations based on: 
  https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
  */
}

html {
  background-color: var(--color-cyan);
}

::selection {
  background-color: var(--color-yellow);
}

body {
  font-family: var(--font-sans);
  font-feature-settings: var(--font-features-inter);
}

code {
  font-family: var(--font-mono);
  font-feature-settings: var(--font-features-mono);
}

pre {
  font-size: clamp(1rem, 0.583rem + 1.042vw, 1.25rem);
  padding: 0.5rem;
  border-radius: 3px;
}

/* code blocks that have shiki highlighting transformers applied */
pre.has-highlighted .line.highlighted {
  color: var(--color-magenta);
}

pre .highlighted-word {
  color: var(--color-magenta);
}

/* code that is mixed in with normal text, i.e., not a code block in pre */
:not(pre)>code {
  background-color: var(--color-non-pre-code);
  border: 1px solid oklch(from var(--color-non-pre-code) calc(l - 0.025) c h);
  border-radius: 3px;
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link);
  }

  &:hover {
    text-decoration-thickness: var(--link-thickness);
  }
}

a.no-style {
  color: var(--color-link);
  text-decoration: none;

  &:visited {
    color: var(--color-link);
    text-decoration: none;
  }

}


/* Heading styles from Tufte CSS: https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css */
/* h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
} */

/* h2 {
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
} */

/* h3 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
} */
/* h2 {
  font-weight: 900;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
} */

/* See Layout.astro for h1 font sizing */
h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  font-size: clamp(1.75rem, 0.5rem + 3.125vw, 2.5rem);
  margin-top: clamp(2.75rem, 1.5rem + 3.125vw, 3.5rem);
  margin-bottom: 2rem;
  line-height: 1.2;
}

h3 {
  font-weight: 500;
  font-size: clamp(1.25rem, 0rem + 3.125vw, 2rem);
  margin-top: clamp(2.25rem, 1rem + 3.125vw, 3rem);
  margin-bottom: 1.75rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  font-size: clamp(1rem, 0.167rem + 2.083vw, 1.5rem);
}

li {
  font-size: clamp(1rem, 0.167rem + 2.083vw, 1.5rem);
}

img {
  max-width: 100%;
  height: auto;
}

/* images and figures in articles */
.article-image {
  text-align: center;
  margin: clamp(2.25rem, 1rem + 3.125vw, 3rem) 0;
}

.article-image img {
  border-radius: 3px;
}

figcaption {
  padding: 1rem 0;
  font-style: italic;
}

blockquote {
  margin: 0;
  padding: 0.25rem 2.5rem;
  border-left: 5px solid var(--color-blockquote-border);
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color-hr);
  margin: 1em 0;
  padding: 0;
}